{{#if isAdmin}}
<div class="centre" style="margin-top:18%;">
    <form autocomplete="off" {{action 'sendRecord' on='submit' }}>
        <div class="form-field-group">
            <label for="theatrename">TIER THREE PRICE</label>
            <div class="form-field-values">
                {{input required=true id="tierthreeprice" type="text" value=tierthreeprice }}
            </div>
        </div>
        <div class="form-field-group">
            <label for="theatrecity">TIER TWO PRICE</label>
            <div class="form-field-values">
                {{input required=true id="tiertwoprice" type="text" value=tiertwoprice }}
            </div>
        </div>
        <div class="form-field-group">
            <label for="features">TIER ONE PRICE</label>
            <div class="form-field-values">
                {{input required=true id="tieroneprice" type="text" value=tieroneprice }}
            </div>
        </div>
        <button class="button" type="submit" >ADD SEATS</button>
    </form>
</div>
{{else}}
<li class="dashboard-not-found"> OOPS! SOMETHING WENT WRONG</li>
<li class="header-list" style="font-family: 'Courier New', Courier, monospace;margin-top:10%;margin-left:52%">{{#link-to
    'application' class="no-underline"}}GO HOME{{/link-to}}</li>
{{/if}}
{{outlet}}

{{outlet}}
