<div class="movie-container" style="margin-left: 13%; margin-top:5%">
    <ul>
        {{#if model}}
        {{#each model as |bookings|}}
        <div class="movie-box" style="margin-left:15px;height:auto">
            <li>
                <h3 style="color: rgb(0, 123, 255);">{{movie.moviename}}</h3>
            </li>
             <p>Theatrename:</p>
            <li>{{bookings.theatrename}}</li>
            <p>Amount:</p>
            <li>{{bookings.amount}}</li>
            <p>Seat Number:</p>
            <li>{{bookings.seatnumber}}</li>
            <p>Show Date</p>
            <li>{{bookings.showdate}}</li>
            <p>Show time</p>
            <li>{{format-time bookings.showstarttime}}</li>
        </div>
        {{/each}}
        {{else}}
        
          <h1 style="font-family: 'Courier New', Courier, monospace;
          font-size:xx-larger;text-align:center;justify-content:center;
          margin-top:30%">OOPS NO BOOKINGS !! CHECK OUT FOR MOVIES </h1>
        {{/if}}
    </ul>
</div>
{{outlet}}