{{#if isAdmin}}
<div class="movie-container" style="margin-left: 13%; margin-top:5%">
  <div class="redirect-route">
    <i class="fas fsa-plus" style="margin-left: 90%;
    font-family:
    'Courier New', Courier, monospace;
    font-size:22px;
    color:rgb(0, 123, 255)">
      {{#link-to 'dashboard.add-theatre' class="no-underline"}}+ADD{{/link-to}}
    </i>
  </div>
</div>
<div class="search-container">
  {{input
  type="text"
  value=searchQuery
  class="search-input"
  placeholder="Search Theatres by name"
  key-up=(action "searchCustomers")
  }}
</div>
<div class="content">
  {{!-- <input type="text" value={{query}} {{action (mut query) value="target.value" }} class="fas fa-search"
    placeholder="Search" style="font-family: 'Courier New', Courier, monospace;margin-left:100%;margin-top:2%"> --}}
  <table style="margin-left:80px">
    <thead>
      <tr>
        <th>THEATRE NAME</th>
        <th>FEATURES</th>
        <th>CITY</th>
        <th>USER NAME</th>
      </tr>
    </thead>
    <tbody>
      {{#if isTheatreAvailable}}
      {{#each model as |theatre|}}
      <tr>
        <td>{{theatre.theatrename}}</td>
        <td>{{theatre.features}}</td>
        <td>{{theatre.theatrecity}}</td>
        <td>{{theatre.firstname}}</td>
      </tr>
      {{/each}}
      {{else}}
      {{#each filteredData as |theatre|}}
      <tr>
        <td>{{theatre.theatrename}}</td>
        <td>{{theatre.features}}</td>
        <td>{{theatre.theatrecity}}</td>
        <td>{{theatre.firstname}}</td>
      </tr>
      {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
{{else}}
<li class="dashboard-not-found"> OOPS! SOMETHING WENT WRONG</li>
<li class="header-list" style="margin-top:10%;margin-left:52%">{{#link-to 'application' class="no-underline"}}GO
  HOME{{/link-to}}</li>
{{/if}}
{{outlet}}