{{#if isManager}}
<div class="movie-container" style="margin-left: 13%; margin-top:5%">
     <div class="redirect-route">
            <i class="fas fsa-plus" style="margin-left: 90%;
    font-family:
    'Courier New', Courier, monospace;
    font-size:22px;
    color:rgb(0, 123, 255)">
        {{#link-to 'dashboard.add-show' class="no-underline"}}+ADD{{/link-to}}
        </i>    
    </div>
    <ul>
        {{#each model as |show|}}
        <div class="movie-box" style="height: auto;">
            <p>Show Date:</p>
            <li>{{show.showdate}}</li>
            <p>Show time:</p>
            <li>{{format-time show.showstarttime}}</li>
            <p>Show Number:</p>
            <li>{{show.shownumber}}</li>
            <p>Show Status:</p>
            <li>{{if show.showstatus 'available' 'unavailable'}}</li>
            <p>Moviename</p>
            <li>{{show.moviename}}</li>
            {{#if show.showstatus}}
             <li><button 
                class="cancel-button" {{action "onclick"  show}}>Cancel Show</button></li>
            {{/if}}
        </div>
        {{/each}}
    </ul>z
</div>
{{else}}
<li class="dashboard-not-found"> OOPS! SOMETHING WENT WRONG</li>
<li class="header-list" style="font-family: 'Courier New', Courier, monospace;margin-top:10%;margin-left:52%">{{#link-to
    'application' class="no-underline"}}GO HOME{{/link-to}}</li>
{{/if}}
{{outlet}}