{{#if isAdmin}}
  <div class="content">
  <input type="text" value={{query}} {{action (mut query) value="target.value"}} class="fas fa-search" placeholder="Search" style="font-family: 'Courier New', Courier, monospace;margin-left:100%;margin-top:2%">
  <table style="margin-top:5%;margin-left:80px">
    <thead>
      <tr>
        <th>USER ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>MOBILE NUMBER</th>
        <th>ADDRESS</th>
        <th>ROLE</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
        <tr>
          <td>{{user.userid}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.mobilenumber}}</td>
          <td>{{user.address}}</td>
          <td contenteditable="true" {{action "saveOnEnter" user "role"  on="keydown"}}>{{user.role}}</td>
         </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<li class="dashboard-not-found"> OOPS! SOMETHING WENT WRONG</li>
<li class="header-list" style="font-family: 'Courier New', Courier, monospace;margin-top:10%;margin-left:52%">{{#link-to 'application'  class="no-underline"}}GO HOME{{/link-to}}</li>
{{/if}}
{{outlet}}
