<div class="content">
  {{#each model as |user|}}
  <h2>Welcome,{{user.firstname}}</h2>
  {{#each Details.theatredetails as |theatre|}}
  <div class="movie-box" style="margin-left:15px;height:auto">
    <h3>Theatre Details</h3>
    <p>{{theatre.theatrename}}</p>
    <p>{{theatre.theatrecity}}</p>
    <p>{{theatre.features}}</p>
  </div>
  {{/each}}
  {{/each}}
  <h4 style="text-align:center;margin-top:10%;margin-right:-15%;color:rgb(142, 112, 252);font-size:x-large">"Where Every Frame Tells a
    Story: Dive into the Magic of Cinema!"</h4>
</div>
{{outlet}}