<div>
    <header>
        <label for="check">
        </label>
        <div class="left_area">
        </div>
        <div class="right_area">
            <div class="left_area">
                <h3 style="margin-left:48%;">MOVIESNOW<span></span></h3>
            </div>
            <div class="right_area">
                <a href="/ticket-app/" class="logout_btn" style="padding: 6px 20px"> HOME</a>
            </div>
        </div>
    </header>

</div>
<input type="checkbox" id="check">

<div class="centre" style="margin-top: 200px;">
    <form autocomplete="off" {{action 'sendRecord' on='submit' }}>
        <div class="form-field-group">
            <label for="firstname">FIRST NAME</label>
            <div class="form-field-values">
                {{input required=true id="firstname" type="text" value=firstname escape-attribute=false}}
            </div>
        </div>
        <div class="form-field-group">
            <label for="lastname">LAST NAME</label>
            <div class="form-field-values">
                {{input required=true id="lastname" type="text" value=lastname escape-attribute=false}}
            </div>
        </div>
        <div class="form-field-group">
            <label for="mobilenumber">MOBILE NUMBER</label>
            <div class="form-field-values">
                {{input required=true id="mobilenumber" type="text" value=mobilenumber escape-attribute=false}}
            </div>
        </div>

        {{#if mobileNumberError}}
        <div class="error-message"
            style="font-family: 'Courier New', Courier, monospace;color:red; margin-bottom: 25px;">Enter a valid number
        </div>
        {{/if}}

        <div class="form-field-group">
            <label for="password">PASSWORD</label>
            <div class="form-field-values">
                {{input id="password" type="password" value=password placeholder="Must have 6 characters"
                escape-attribute=false}}
            </div>
        </div>

        <div class="form-field-group">
            <label for="confirm-password">CONFIRM PASSWORD</label>
            <div class="form-field-values">
                {{input type="password" id="confirm-password" value=confirmPassword placeholder="Must have 6 characters"
                escape-attribute=false}}
            </div>
        </div>

        {{#if passwordMismatch}}
        <div class="error-message"
            style="font-family: 'Courier New', Courier, monospace;color:red; margin-bottom: 25px;">Passwords do not
            match.</div>
        {{/if}}

        {{#if passwordLength}}
        <div class="error-message"
            style="font-family: 'Courier New', Courier, monospace;color:red; margin-bottom: 25px;">Passwords length
            minimum should be 6 characters.
        </div>
        {{/if}}

        <div class="form-field-group">
            <label for="address">ADDRESS</label>
            <div class="form-field-values">
                {{input required=true  id="address" type="text" value=address escape-attribute=false}}
            </div>
        </div>
        <br>
        <button class="button" type="submit" disabled={{passwordMismatch}}>SIGNUP</button>
    </form>
    {{#if credentials}}
    <div class="error-message" style="font-family: 'Courier New', Courier, monospace;color:red; margin-bottom: 25px;">
        User credentials already exists</div>
    {{/if}}
</div>
<p style="font-family:'Courier New', Courier, monospace;margin-top:40px;margin-left:43%">ALREADY A USER ? <a
        style="text-decoration:none" href="login">LOGIN</a></p>
{{outlet}}